body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: black;
}
.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #1c8acc;
    color: rgb(0, 0, 0);
    height: 100vh;
}

.sidebar-dashboard,
.sidebar-option {
    display: grid;
    grid-template-columns: 95px 1fr;
    filter: invert(1);
    margin-left: 20px;
}
.sidebar-dashboard > img {
    width: 60px;
    height: 100%;
    object-fit: contain;
    margin-bottom: 30%;
}

.sidebar-option > img {
    width: 30px;
    height: 100%;
    object-fit: contain;
    margin-left: 20px;
}

.sidebar-dashboard {
    font-size: 12px;
    padding-top: 5px;
}
.sidebar-option {
    font-size: 10px;
}
.sidebar-option:nth-child(7) {
    margin-bottom: 15%;
}

.sidebar-dashboard > h1 {
    margin-top: 28px;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.userhud {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
    
}
.searchbar {
    background-color: #dee5ee;
    border-radius: 20px;
    height: 30px;
    width: 730px;
    margin-left: 2%;
   
}
.content {
    background-color: #dee5ee;
    display: grid;
    grid-template-columns: 70% 30%;
}

.glass {
    margin-left: 3%;
}

.bell {
    margin-left: 10%;
    margin-right: 25px;
}

.icon {
    margin-right: 25px;
}

.nav-menu > h4 {
    color: black;
    font-weight: bold;
}

.intro {
    display: flex;
    align-items: center; 
    margin-left: 5%;
}
.text > * {
    margin: 0;
}
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.buttons {
    display: flex;
    align-items: center;
    margin-right: 18%;
}

.action {
    background-color: #1c8acc;
    border-radius: 20px;
    width: 90px;
    padding: 10px;
    border: none;
    margin: 0 20px;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    background-color: white;
    border-left: 6px solid #ecab36;
    border-radius: 5px;
    width: 60%;
    height: 200px;
    margin: 30px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.card > h4 {
    margin-bottom: 0;
    margin-top: 20px;
}

.card > p {
    margin-top: 0;
    margin-bottom: 45px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    width:90%;
}